$action-purple: #886cff;
$action-red: #ef3737;
$action-orange: #ff9513;
$action-green: #34c635;
$action-blue: #4f77ff;
$action-black: #120f1f;
$text: #7b88a8;
$dark: #1e2029;
$text-heading: #2d3958;
$text-black: #222222;
$text-gray: #e7e5ea;
$black200: #788190;
$bg-light: #f8fafc;
$bg-light-alt: #f7f5f1;
$bg-white: #ffffff;
$bg-gray: #292f3a;
