include ./mixins.pug
doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title Fintech 
  link(rel="stylesheet", href="./css/main.css")
  link(rel="preconnect", href="https://fonts.googleapis.com")
  link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
  link(href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap", rel="stylesheet")
body
  .container
    header#header 
      include ./view/header-nav.pug
      include ./view/header-view.pug
    main#main 
      include ./view/invest.pug
      include ./view/apptoday.pug
      include ./view/trust.pug
      include ./view/commited.pug
      include ./view/setupbusiness.pug
      include ./view/potential.pug
