.trust {
  margin: 0 auto 120px;
  padding: 120px 0;
  &-title {
    margin-bottom: 80px;
  }
  &-list {
    display: flex;
    align-items: flex-start;
    justify-content: stretch;
    flex-wrap: wrap;
    gap: 30px;
  }
  &-card {
    transition: all 0.25s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    --column: 3;
    width: calc(100% / var(--column) - 30px);
    height: 300px;
    padding: 49px 35px;
    background: #ffffff;
    border: 1px solid #61779833;
    border-radius: 20px;
    text-align: center;

    &-title {
      margin: 22px auto 25px;
      font-weight: 400;
      font-size: 22px;
      line-height: 1.45;
      text-align: center;
      letter-spacing: -1px;
      color: $action-black;
    }
  }
  &-card:hover {
    box-shadow: 0px 20px 50px rgba(79, 119, 255, 0.2);
  }
}
@media screen and (max-width: 1023.98px) {
  .trust {
    &-card {
      --column: 2;
    }
  }
}
