.apptoday 
  .apptoday-title.heading.wrapper|Invest as much or as little as you want on the Pollock FinTech app today
  .apptoday-wrapper
    +apptoday-statistic()

    .apptoday-lernmore
      .apptoday-lernmore
        +apptoday-lernmore-card("Learn the basics of investing")
        +apptoday-lernmore-card("The modern way to invest")
        +apptoday-lernmore-card("Your money is safe with us")
  .apptoday-option 
    +apptoday-option-card("Bank Level Security")
    +apptoday-option-card("US Stocks Portfolio")
    +apptoday-option-card("Secure Payments")
