.commited
  .commited-top
    .commited-top-bg1
      img(src="./image/dots.svg", alt="bg")
    .commited-top-bg2
      img(src="./image/dots.svg", alt="bg")
    .commited-top-title.heading|We are committed to protecting your account with the highest standards of security available.
    .commited-top-text|Are you ready to start your project? Contact us today and get started!
    a(href="#",target="_plank").button.commited-top-button|Get Started 
  .commited-bottom.wrapper
    .commited-bottom-content 
      .commited-bottom-title|Your money is safe with us. The best way to invest in stocks
      .commited-bottom-text|We're backed by top financial market operators and we not only meet traditional banking security standards.
      .commited-bottom-list
         +commited-bottom-card("./image/icon-commited-bottom1.svg","Exchange Traded Funds")
         +commited-bottom-card("./image/icon-commited-bottom2.svg","Exchange Traded Funds")
         +commited-bottom-card("./image/icon-commited-bottom3.svg","Exchange Traded Funds")
    //- .commited-bottom-image
    //- .commited-bottom-image-wrapper
    .commited-bottom-image-1 
      img(srcSet="./image/image-commited-bottom1.png 2x", alt="image-bottom-commited")
    .commited-bottom-image-2 
      img(srcSet="./image/image-commited-bottom2.png 2x", alt="image-bottom-commited")
    .commited-bottom-image-3 
      img(srcSet="./image/image-commited-bottom3.png 2x", alt="image-bottom-commited")
