.invest.wrapper 
  .invest-title.heading|Investing from Europe has never been easier. Get started in 3 easy steps
  .invest-list 
    +invest-card("01","Create an account","The multiple channels including your local cards and our partner will handle the currency conversion instantly.","")
    +invest-card("02","Fund your wallet","The multiple channels including your local cards and our partner will handle the currency conversion instantly.","")
    +invest-card("03","Start Investing","The multiple channels including your local cards and our partner will handle the currency conversion instantly.","")