.potential 
  .wrapper
    .potential-left 
      .potential-left-title.heading|We turn potential talent into performance
      .potential-left-text|We invest far and wide, across sectors and geographies. Our portfolio includes 
        span.text-purple|50 companies valued at $1B+ 
        |and
        span.text-purple|130+ companies valued at more than $100 million².
      a(href="#main").button.potential-left-button
        span|Let’s talk
        img(src="./image/icon-arow-right-white.svg", alt="icon-arow-right") 
    .potential-right 
      .potential-right-question
        .potential-right-question-title
          span|What do startups need to know?
          span|+
        .potential-right-question-text|From a business-centric viewpoint you will need to know your target audience, conduct market research, find investors, register and pick a location, and develop a product that stands out from the market.
      .potential-right-question
        .potential-right-question-title
          span|What do startups need to know?
          span|+  
      .potential-right-question
        .potential-right-question-title
          span|What do startups need to know?
          span|+  
      .potential-right-question
        .potential-right-question-title
          span|What do startups need to know?
          span|+  
      .potential-right-question
        .potential-right-question-title
          span|What do startups need to know?
          span|+  