.setup.wrapper#setup 
  .setup-title.heading|Set up your business, pick a plan later
  .setup-text|How many people do you have your team?
  .setup-option 
    .setup-option-1|01 - 10
    .setup-option-1|11 - 30
    .setup-option-1|31 - 50
    .setup-option-1|51 -100
  .setup-view 
    .setup-view-personal
      +setup-card("Personal",9)
    .setup-view-pro 
      +setup-card("Personal",12)
    .setup-starup
      +setup-card("Personal",59)