.trust.wrapper
  .trust-title.heading|You trust us with your investments and we take that very seriously
  .trust-list 
    +trust-card("./image/Startups.svg","Startups")
    +trust-card("./image/Development.svg","Development")
    +trust-card("./image/Strategy.svg","Strategy")
    +trust-card("./image/Branding.svg","Branding")
    +trust-card("./image/Apps.svg","Apps")
    +trust-card("./image/FinTech.svg","FinTech")
